<div style="
  font-size: 14px;
  width: 80%;
  margin: 60px auto;
  border: 2px solid #CCC;
  padding: 6px 12px;
  min-width:500px;
  color: #333;
  line-height: 1.6;
  font-family: Lucida Grande, sans-serif !important;
  background: #f8f8f8;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#eaeaea));
">
  <div>
    An error occurred while rendering, please contact the webmaster:
  </div>
  {% if lines.length > 0 %}
  <div style="margin: 20px 0; font-family: monospace, serif; border: 1px solid #ddd; padding: 8px 18px; background-color: #fffff8;">{% for line in lines %}
    <pre style="display:inline-block; width:100%; margin:0; padding:0; {% if line.highlight %}background-color:rgb(253, 194, 194); font-weight: bold;{% endif %}">{{line.text|escape}}</pre>
  {% endfor %}</div>
  {% endif %}
  <h1 style="magrin: 0;">{{error | escape}}</h1>
  <pre style="color: #333; font-family: Lucida Grande, sans-serif !important;">{{stack | escape}}</pre>
</div>
<div style="text-align: center;"><a href="https://npmjs.org/package/express-liquid">express-liquid</a></div>